<div class="">
  <p class="text-muted" style="font-size: 30px">
    <%= t('.header') %>
  </p>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= t('.table.question') %></th>
        <th><%= t('.table.gist_url') %></th>
        <th><%= t('.table.email') %></th>
      </tr>
    </thead>
    <tbody>
	  <%= render @gists %>
    </tbody>
  </table>
</div>