<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('.create_link'), new_admin_test_path %>
</p>

<table>
  <tr>
	<th><%= t('.table.title') %></th>
	<th><%= t('.table.level') %></th>
	<th><%= t('.table.category') %></th>
	<th><%= t('.table.question_count') %></th>
  <th colspan="3"><%= t('.table.actions') %></th>
  </tr>

  <%= render @tests %>
</table>  
