<%= link_to t('.new_question_link'), new_admin_test_question_path(@test.id) %>
<p>
  <strong><%= t('.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t('.category') %>:</strong>
  <%= @test.category.title %>
</p>

<ol>
  <%= render @test.questions %>
</ol>
<%= link_to t('.edit_link'), edit_admin_test_path(@test) %> |
<%= link_to t('.back_link'), admin_tests_path %>