<h1><%= t('.header') %></h1>
<table>
  <tr>
	<th><%= t('.table.title') %></th>
	<th><%= t('.table.level') %></th>
	<th><%= t('.table.category') %></th>
	<th><%= t('.table.question_count') %></th>
  <th><%= t('.table.actions') %></th>
  </tr>

  <%= render @tests %>
</table>  
